{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}
<aside id="myaside" class="col-lg-3 col-md-12">
  {% if not current_user.is_authenticated %}
  <section>
    <h3>Login</h3>
    <div class="p-4 border rounded mb-3 myForm">
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="mailInput" class="form-label">Mail</label>
          <input type="text" class="form-control" id="mailInput" aria-describedby="mailHelp" name="mail_utente">
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordInput" name="password">
        </div>
        <div>
        <small>Non hai ancora un account? <a href="/iscriviti">Registrati</a></small>
        <button type="submit" class="btn btn-primary myFormButton">Accedi</button>
      </div>
      </form>
    </div>
  </section>
  {% endif %}

    <!-- Filter -->
  <div class="btn-group dropend">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter-circle me-1" id="myFilterIcon" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5"/>
      </svg>
      Ordina per:
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item {%if room_order==0%}disabled{%endif%}" href="/">Prezzo decrescente{%if room_order==0%}--corrente{%endif%}</a></li>
      <li><a class="dropdown-item {%if room_order==1%}disabled{%endif%}" href="/locali-crescenti">Numero di locali crescente{%if room_order==1%}--corrente{%endif%}</a></li>
    </ul>
  </div>


</aside>

<main class="col-lg-9 col-md-12">
  {%if posts%}
  {% for post in posts %}
  <article class="row border border-3 p-2 mx-2 my-4">
    <div class="col-lg-3 col-md-6 col-sm-12 px-0">
      <div id="carouselExampleIndicators{{post.ID_annuncio}}" class="carousel slide">
        <div class="carousel-indicators">
          {%for photo in post.Photos%}
          {%if loop.index==1%}
          <button type="button" data-bs-target="#carouselExampleIndicators{{post.ID_annuncio}}" data-bs-slide-to="{{loop.index-1}}" class="active" aria-current="true" aria-label="Slide {{loop.index}}"></button>
          {%else%}
          <button type="button" data-bs-target="#carouselExampleIndicators{{post.ID_annuncio}}" data-bs-slide-to="{{loop.index-1}}" aria-label="Slide {{loop.index}}"></button>
          {%endif%}
          {%endfor%}
        </div>
        <div class="carousel-inner">
          {%for photo in post.Photos%}
          <div class="carousel-item {%if loop.index==1%} active{%endif%}">
            <a href="{{url_for('single_post', ID_annuncio=post.ID_annuncio)}}"><img src="{{ url_for('static', filename= photo ) }}" class="d-block w-100" alt="Questa è un immagine dell'annuncio"></a>
          </div>
          {%endfor%}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{post.ID_annuncio}}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{post.ID_annuncio}}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
      <section class="mt-2">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-column justify-content-start">
              <div class="d-flex align-items-center">
                <img class="usrimg rounded-circle" src="{{ url_for('static', filename=post.Img_prof) }}"
                alt="Questa è l'immagine dell'utente {{ post.Username |e }}">
                <p class="fs-6 fst-italic pb-0 mb-0 d-flex align-items-center">@{{post.Username |e}}</p>
              </div>
              <h5 class="mt-auto"><a class="link link-dark link-offset-2 link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover" aria-current="page" 
                            href="{{url_for('single_post', ID_annuncio=post.ID_annuncio)}}">{{post.Titolo}}</a></h5>
              <p class="fw-medium fst-italic pb-3">{{ post.Indirizzo |e }}</p>
              
          </div>
          <div class="flex-shrink-0 d-flex flex-column justify-content-center ms-2" id="myPostRightAside">
            <p class="myTypeText d-flex justify-content-center">{{post.Tipo_casa}}</p>
            <div class="fs-6 d-flex justify-content-center"> 
              <img class="myRoomsIcon me-2" src="{{ url_for('static', filename='rooms_icon.png') }}" alt="Numero di locali" title="Numbero di locali">
              <p>{{post.Locali}}{% if post.Locali==5%}+{%endif%} local{% if post.Locali==1%}e{%else%}i{%endif%}</p>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mb-2 fw-bold">
              <p class="fs-6 pb-0 mb-0">€ {{post.Prezzo}}/mese </p>
            </div>
          </div>
        </div>
      </section>
      {% if not post.Photos%}
      <a class="btn btn-outline-secondary btn-sm mb-3" href="{{url_for('single_post', ID_annuncio=post.ID_annuncio)}}"
        role="button">Visualizza</a>
      {% endif %}
    </div>
  </article>
  {% endfor %}
  {%else%}
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <img class="p-2 my_404_icon" src="{{ url_for('static', filename='nothing_found.png') }}" alt="Nessun annuncio trovato">
    <div>
      Non ci sono annunci disponibili
    </div>
  </div>
  {%endif%}
</main>

{% if current_user.is_authenticated%}
{% if current_user.tipo==1%}
<button type="button" class="mybutton" data-bs-toggle="modal" data-bs-target="#createModal">
  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16">
    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
  </svg>
</button>
<div class="modal fade" id="createModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content my_modal_background">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Crea un nuovo annuncio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/annunci/new" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="titolo" id="titleInput" placeholder="Titolo dell'annuncio" required>
                    <label for="titleInput">Titolo dell'annuncio</label>
                  </div>
                </div>
                <div class="col">
                  <div class="col mt-2">
                    <div class="input-group">
                      <span class="input-group-text">€</span>
                      <input type="text" class="form-control" name="prezzo" id="priceInput" placeholder="Affitto mensile" aria-label="Affitto Mensile" required>
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="indirizzo" id="addressInput" placeholder="Indirizzo" required>
                <label for="addressInput">Indirizzo</label>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="typeInput" name="tipo_casa" required>
                      <option selected>Seleziona la tipologia di abitazione</option>
                      <option value="Casa indipendente">Casa indipendente</option>
                      <option value="Appartamento">Appartamento</option>
                      <option value="Loft">Loft</option>
                      <option value="Villa">Villa</option>
                    </select>
                    <label for="typeInput">Tipologia di abitazione</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="roomsInput" name="locali" required>
                      <option selected>Seleziona il numero di locali</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5+</option>
                    </select>
                    <label for="roomsInput">Numero di locali</label>
                  </div>
                </div>
              </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" id="description" rows="3" placeholder="Inserisci una descrizione per l'appartamento" minlength="30" maxlength="200" name="descrizione" required></textarea>
              <label for="description">Descrizione</label>
            </div>
            <div class="mb-3">
              <label for="imageInput" class="form-label">Se vuoi seleziona fino a 5 immagini</label>
              <input class="form-control" type="file" id="imageInput" name="imgFiles" multiple required>
            </div>
            <div class="form-check form-switch mb-3">
              <label class="form-label" for="furnitureInput">La casa è arredata</label>
              <input class="form-check-input" type="checkbox" role="switch" name="arredo" id="furnitureInput">
            </div>
            <div class="form-check form-switch mb-3">
              <label class="form-label" for="availableInput">La casa è disponibile</label>
              <input class="form-check-input" type="checkbox" role="switch" name="disponibile" id="availableInput" checked>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="submit" class="btn btn-primary">Crea Annuncio</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}



















